---
{
    "stream": {
        "$id": "localities",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
            "id", 
            "uid", 
            "name",
            "slug", 
            "c_directoryParent.name",
            "c_directoryParent.id",
            "c_directoryParent.uid",
            "c_directoryParent.slug",
            "c_directoryParent.c_directoryParent.name", 
            "c_directoryParent.c_directoryParent.uid",
            "c_directoryParent.c_directoryParent.id",
            "c_directoryParent.c_directoryParent.slug"
            ], 
        "filter" : {
            "entityTypes": [
                "ce_directoryLocality"
            ]
        }
    },
    "urlFormat": "{{uid}}"
}
---
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="text-4xl">Locality Page</div>
        <div> <strong>Name:</strong> {{name}}</div>
        <div> something! </div>
    </body>
</html>