---
{
    "stream": {
        "$id": "root",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
            "id", 
            "uid", 
            "name",
            "c_directoryEntries.name",
            "c_directoryEntries.uid",
            "c_directoryEntries.id",
            "c_directoryEntries.slug"
            ], 
        "filter" : {
            "entityTypes": [
                "ce_directoryRoot"
            ]
        }
    },
    "urlFormat": "index.html"
}
---
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="text-4xl mb-4">Fancher Franchises</div>

        <div class="text-xl">Regions served: </div>  
        <ul>
        {{#each c_directoryEntries}}
             <li>   <a href="/{{this.id}}" class="no-underline text-indigo-500">{{this.name}}</a> </li>
        {{/each}}
        </ul>
        
    </body>
</html>